*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
  font-family: "Clarkson",Helvetica,sans-serif;
  font-style: normal;
}

h1{
    text-align: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;;
  
}
header a{
    text-decoration: none;
    color: black;
}
.main-nav{
    align-content: center;
}
.main-nav a{
    font-size: x-large;
}
.nav-scroll{
    align-content: center;
}
.nav-scroll a{
    padding-right: 100px;
    font-size: large;
}


.welcometxt{
    height: 850px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.welcomeform{
    height: inherit;
    width: 95%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;;
}


.aboutme{
    display: flex;
    justify-content: center;
}
.aboutme p{
    padding: 2%;
}
.aboutform{
    text-align: justify;
    height: auto;
    width: 95%;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;;
}



.certificates{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    align-items: center;
}
.certificates img{
    height: 500px;
}
.certificatesform{
    height: inherit;
    width: 95%;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;;
}
.Cimages{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


footer{
    height: auto;
    width: auto;
    background-color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;;
}
footer a{
    color: black;
    text-decoration: none;
}
footer img{
    height:35px;
    width: auto;
}
.footertxt{
    margin-bottom: 5px;
    margin-left: 24px;
}
.footerlinks{
    display: flex;
    justify-content: space-evenly;
}